<table class="center" id="create-table" style="margin-bottom: 20px;">
    <tr>
        <th>Id</th>
        <th>Name</th> 
        <th>Age</th>
        <th>Add</th>
    </tr>
    <tr>
        <th><input type="text" id="id-teacher-input"></th>
        <th><input type="text" id="name-teacher-input"></th>
        <th><input type="text" id="age-teacher-input"></th>
        <th>
            <button type="button" class="pointer" onclick="addTeacher()">
                &plus;
            </button>
        </th>
    </tr>
</table>